/************************ #System ************************/
:root {
  --main-bg-color: #0a171d;
  --drawer-bg-color: #000a12;
  --toolbar-bg-color: #102027;
  --macro-bg-color: transparent;
  --macro-font-color: white;
  --macro-empty-border: #546e7a;
  --color-red: #f44336;
  --color-purple: #673ab7;
  --color-blue: #03a9f4;
  --color-green: #4caf50;
  --color-yellow: #ffeb3b;
  --color-orange: #ff8f00;
  --window-bar-height: 25px;
  --snackbar-height: 2rem;
}

* {
  font-family: "Courier New", Courier, monospace;
  color: white;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

body {
  background: var(--main-bg-color);
  margin: 0;
}

html {
  font-size: 16px;
}

/* #Electron */
#topper {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 4;
}

.left-align{
  text-align: left;
}

.window-bar {
  width: 100%;
  background: var(--color-blue);
  text-align: right;
  -webkit-app-region: drag;
  display: none;
  position: fixed;
  height: var(--window-bar-height);
}

.window-bar .text-button {
  font-size: 1rem !important;
  height: var(--window-bar-height) !important;
}


.window-bar * {
  background: none !important;
}

.electron-shift {
  top: var(--window-bar-height) !important;
}

.electron-height {
  height: calc(100vh - var(--window-bar-height)) !important;
}

#drag-area {
  -webkit-app-region: drag;
  text-align: right;
}


.top-button {
  -webkit-app-region: no-drag;
}

.top-button:hover {
  color: rgb(116, 116, 116);
}





/************************ #UI ************************/
.template {
  display: none !important;
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.right-side {
  float: right;
}

.left-side {
  float: left;
  margin-right: 5px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="file"] {
  display: none;
}

.file-button {
  display: none;
}

/*  576px and up */
@media (max-width: 576px) {
  #screenshot {
    width: 90vw !important;
  }

  #navigation {
    text-align: center;
  }

  h1 {
    font-size: 1.5rem;
  }

  #navigation button {
    font-size: 0.9rem;
  }
}

/* 68px and up */
@media (max-width: 768px) {
  .fleft {
    display: block;
  }

  .fright {
    display: none;
  }

  #cta {
    padding-top: calc(50vh - 125px);
  }

  .text-button {
    font-size: 0.8rem;
  }
}

/* 992px and up */
@media (min-width: 992px) {
  #navigation button {
    font-size: 0.9em;
  }
}

/* 1200px and up */ß
@media (min-width: 1200px) {}


/* Scroll Bar */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  margin-right: 2px;
}

::-webkit-scrollbar-track {
  background: var(--main-bg-color);
}


::-webkit-scrollbar-thumb {
  background: #4f5b62;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4f5b62;
}

.red {
  background: var(--color-red) !important;
}

.purple {
  background: var(--color-purple) !important;
}

.blue {
  background: var(--color-blue) !important;
}

.green {
  background: var(--color-green) !important;
}

.yellow {
  background: var(--color-yellow) !important;
}

.orange {
  background: var(--color-orange) !important;
}

.red-border {
  border-color: var(--color-red) !important;
}

.purple-border {
  border-color: var(--color-purple) !important;
}

.blue-border {
  border-color: var(--color-blue) !important;
}

.green-border {
  border-color: var(--color-green) !important;
}

.yellow-border {
  border-color: var(--color-yellow) !important;
}

.orange-border {
  border-color: var(--color-orange) !important;
}

.white-border {
  border-color: white !important;
}

.red-font {
  color: var(--color-red) !important;
}

.purple-font {
  color: var(--color-purple) !important;
}

.blue-font {
  color: var(--color-blue) !important;
}

.green-font {
  color: var(--color-green) !important;
}

.yellow-font {
  color: var(--color-yellow) !important;
}

.orange-font {
  color: var(--color-orange) !important;
}

/* Spinner */

.spinner {
  margin: 15px auto 0;
  width: 70px;
  text-align: center;
}

.spinner>div {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {

  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {

  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* #Dialog */
.dialog {
  position: fixed;
  width: 80%;
  height: 70%;
  z-index: 8;
  top: 15%;
  left: 10%;
}

.dialog-content {
  width: 100%;
  height: 100%;
  background: var(--main-bg-color);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, .2);
}

.dialog .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 100vw;
  height: 100vw;
  background: rgba(0, 0, 0, .2);
}

/* #Text Field */
.text-field {
  -webkit-appearance: none !important;
  border-radius: 18px;
  height: 36px;
  border: 2px solid rgba(255, 255, 255, 1);
  padding: 12px 16px 14px;
  font-size: 1.3rem;
  background: none;
  font-weight: 400;
  color: white;
  width: calc(100% - 36px);
  margin: auto;
}

.text-field::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.text-field:focus {
  -webkit-appearance: none !important;
  box-shadow: 0 0 0px 1px white;
  outline: none;
  -moz-outline-radius: 4px;
  border-color: white;
}

.text-field:disabled {
  border: 2px solid rgba(255, 255, 255, 0.21);
  color: rgba(255, 255, 255, 1);
}

.text-label {
  color: white;
  font-size: 1.2rem;
}

.text-field-sm {
  height: 8px !important;
}

.text-field-short {
  width: 100px !important;
}

.text-field-medium {
  width: 150px !important;
}

.text-field-long {
  width: 200px !important;
}

.text-field-xlong {
  width: 400px;
}

.text-field-adaptive{
  width: calc(100% - 20px);
}

textarea.text-field {
  resize: vertical;
  height: 100px;
}


/* #Color Picker */
#action-colors .color-button {
  width: 32px;
  height: 32px;
  padding: 0px;
  display: inline-block;
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  background: white;
  vertical-align: middle;
}

#action-colors .color-button[data-color-selected="true"] {
  border-color: white;
}

#action-colors {
  padding: 15px 0px;
}

/* #Buttons */
.text-button {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  -webkit-app-region: no-drag;
  cursor: pointer;
  border: 2px solid white;
  color: white;
  border-radius: 18px;
  padding: 0 14px;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 0.0892857143em;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 64px;
  height: 36px;
  vertical-align: middle;
  -webkit-appearance: none;
  background: none;
}

.text-button:hover {
  background: white;
  color: var(--main-bg-color);
  border-color: white !important;
}

.text-button:disabled {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  color: rgba(255, 255, 255, 0.683) !important;
  cursor: default !important;
}

.text-button:focus {
  -webkit-appearance: none;
  outline: none;
}

.no-outline {
  border: none !important;
}

/* #Toggle Button */
.toggle-button {
  width: 1rem !important;
  height: 1rem !important;
  padding: 0 !important;
  min-width: 0 !important;
  display: inline-block;
  background: none !important;
}

.toggle-button[data-checked="true"] {
  background: white !important;
}